.creator--wrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content:center;
  position: relative;
}
.creator--list{
  flex: 0 1 960px;
  background: #FFF;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  transition: padding .25s ease-in-out;
}
.creator--input{
  width: 100%;
  border:none;
  background: none;
  resize:none;
  padding: 1.75rem 0;
  margin: 0;
  line-height: 1.8;
  height: 6.8rem;
  outline: none;
  overflow: hidden;
  transition: padding .25s ease-in-out;
}
.creator--list--title{
  width: 100%;
  margin: 0;
  padding: 2.5rem 0 0 0;
  @include font-size($type-medium);
  font-weight: 700;
  transition: color .25s ease-in-out;
  &:hover{
    color: $fl-dirty-mint;
  }
  &:after{
    content: '';
    display: block;
    width: 4rem;
    height: 0.4rem;
    margin: 2rem 0 1rem;
    background: $fl-purple;
  }
}
.creator--list--item{
  width: 100%;
  padding: 1.75rem 0;
  line-height: 1.8;
  display: block;
  cursor: text;
  transition: color .25s ease-in-out;
  &:hover{
    color: $fl-dirty-mint;
  }
}
.creator--list--devider{
  display: block;
  height: 1.5rem;
  transition: height .25s ease-in-out, background .25s ease-in-out;
  //&:hover{
  //  height: 4.7rem;
  //  background: lighten(#55acee, 30%);
  //  cursor: text;
  //}
}

@media only screen and (min-width: 768px){
  .creator--list{
    padding-left: 4rem;
    padding-right: 4rem;
  }
}