body{
  //font-family: 'Open Sans', sans-serif;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  color: #222;
  @include font-size($type-standard);
  background: #f4f4f4
}
a{
  color: #111;
  @include underline($type-standard,#111);
  transition: color .25s ease-in-out,
              background-image .25s ease-in-out;
  &:hover{
    color: $green;
  }
}
.logo--font{
  font-family: 'Nexa Slab Heavy','Open Sans', sans-serif;
  @include font-size($type-medium);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.margin-top-navigation{
  margin-top: 7rem;
}
